@{
    ViewData["Title"] = "Length Converter Home Page";
}

<h2>@ViewData["Title"]</h2>

<div id="container">
<table class="table table-striped">
    <th class="tableHeader">
        <td>Meters to Feet</td>
        <td>Feet to Meters</td>
        <td>Meters to Yards</td>
        <td>Yards to Meters</td>
        <td>Feet to Yards</td>
        <td>Yards to Feet</td>
    </th>
        <tr>
            <td></td>
            <td>@ViewData["NumInput"] M to @ViewData["MtoF"] Ft.</td>
            <td>@ViewData["NumInput"] Ft. to @ViewData["FtoM"] M</td>
            <td>@ViewData["NumInput"] M to @ViewData["MtoY"] Yds.</td>
            <td>@ViewData["NumInput"] Yds. to @ViewData["YtoM"] M</td>
            <td>@ViewData["NumInput"] Ft. to @ViewData["FtoY"] Yds.</td>
            <td>@ViewData["NumInput"] Yds. to @ViewData["YtoF"] Ft.</td>        
        </tr>    
</table>
</div>