@{
    ViewData["Title"] = "Mass Converter Home Page";
}

<h2>@ViewData["Title"]</h2>

<div id="container">
<table class="table table-striped">
    <th class="tableHeader">
        <td>Oz to Lb</td>
        <td>Lb to Oz</td>
        <td>Oz to G</td>
        <td>G to Oz</td>
        <td>Oz to Kg</td>
        <td>Kg to Oz</td>
        <td>Lb to G</td>
        <td>G to Lb</td>
        <td>Lb to Kg</td>
        <td>Kg to Lb</td>
        <td>G to K</td>
        <td>K to G</td>
    </th>
        <tr>
            <td></td>
            <td>@ViewData["NumInput"] Oz. to @ViewData["OtoL"] Lbs.</td>
            <td>@ViewData["NumInput"] Lbs. to @ViewData["LtoO"] Oz.</td>
            <td>@ViewData["NumInput"] Oz to @ViewData["OtoG"] G</td>
            <td>@ViewData["NumInput"] G to @ViewData["GtoO"] Oz.</td>
            <td>@ViewData["NumInput"] Oz to @ViewData["OtoK"] Kgs.</td>
            <td>@ViewData["NumInput"] Kgs. to @ViewData["KtoO"] Oz.</td>
            <td>@ViewData["NumInput"] Lbs. to @ViewData["LtoG"] G</td>
            <td>@ViewData["NumInput"] G to @ViewData["GtoL"] Lbs.</td>
            <td>@ViewData["NumInput"] Lbs. to @ViewData["LtoK"] Kgs.</td>
            <td>@ViewData["NumInput"] K to @ViewData["KtoL"] Lbs.</td>   
            <td>@ViewData["NumInput"] G to @ViewData["GtoK"] K</td>
            <td>@ViewData["NumInput"] Kgs. to @ViewData["KtoG"] G</td>     
        </tr>    
</table>
</div>