@{
    ViewData["Title"] = "Temperature Converter Home Page";
}

<h2>@ViewData["Title"]</h2>

<div id="container">
<table class="table table-striped">
    <th class="tableHeader">
        <td>Celsius to Fahrenheit</td>
        <td>Fahrenheit to Celsius</td>
        <td>Celsius to Kelvin</td>
        <td>Kelvin to Celsius</td>
        <td>Fahrenheit to Kelvin</td>
        <td>Kelvin to Fahrenheit</td>
    </th>
        <tr>
            <td></td>
            <td>@ViewData["NumInput"] C to @ViewData["CtoF"] F</td>
            <td>@ViewData["NumInput"] F to @ViewData["FtoC"] C</td>
            <td>@ViewData["NumInput"] C to @ViewData["CtoK"] K</td>
            <td>@ViewData["NumInput"] K to @ViewData["KtoC"] C</td>
            <td>@ViewData["NumInput"] F to @ViewData["FtoK"] K</td>
            <td>@ViewData["NumInput"] K to @ViewData["KtoF"] F</td>
        </tr>    
</table>
</div>